legend#Strong{ /* Formulario do chamado */
    font-weight: bold;
    border: 1px solid rgb(13, 214, 120);
    padding: 10px;
    text-align: center;
    background-color: rgb(13, 214, 120);
    border-radius: 8px;
}

.wave{ /* Imagem azul */
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.img{ /* vetor */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.container{ /* container onde fica o vetor */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img img{
	width: 500px;
}


body{ /* Fundo */
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

.box{ /* "caixa" e conteúdo */
    position: absolute;
    top: 55%;
    left:70%;
    transform: translate(-50%,-50%);
    background-color: rgb(6, 65, 175);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}

fieldset{ /* Borda azulada */
    border: 3px solid rgb(13, 214, 120);
}

.inputBox{ /* forma do input externo */
    position: relative;
}

.inputuser{ /* local onde são adicionados os dados */
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.inlabel{ /* Nome dos campos */
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputuser:focus ~ .inlabel,
.inputuser:valid ~ .inlabel{ /* animação */
    top: -20px;
    font-size: 12px;
    color: rgb(0, 255, 13);
}

#submit{ /* botão */
    background-color: rgb(13, 214, 120);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 12px;
}